.middle-centered {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.body-align {
    max-width: 1920px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

.bg-body {
    background-image: url(/images/home/home-bg.png);
    background-size: 500px 500px;
    padding-bottom: 60px;
    background-repeat: repeat;
    background-color: whitesmoke;
}

.rooms-detail__body-container {
    padding-top: 30px !important;
    padding-bottom: 40px !important;
}

.icon-container {
    color: var(--main-text-dark);
}

    .icon-container:hover {
        color: aqua;
    }

.icon--size {
    width: 20px !important;
    aspect-ratio: 1;
}

@media (max-width: 768px) {
    .rooms-detail__body-container {
        padding: 30px 0 40px 0;
    }
}

/* Banner */

/* Intro */
.price-tag {
    font-family: var(--font-kalam);
    color: var(--main-text-dark);
    font-size: 80px;
}

.head__text--size {
    font-size: clamp(24px, 1vw, 36px);
}

booked__text--size {
    font-size: clamp(14px, 1vw, 20px);
}

/* Overview */

/* Facilities */
.facility-grid__container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 8px;
}

    .facility-grid__container img {
        border-radius: 10px;
        height: 100%;
    }

@media (max-width: 768px) {
    .facility-grid__container {
        grid-template-columns: auto auto;
    }
}

/* All you need to know */
.information {
}

    .information li {
        margin-left: 40px;
    }

    .information .inclusion {
        background-image: url(/images/rooms/blue-smear-bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .information .exclusion {
        background-image: url(/images/rooms/yellow-smear-bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

/* Gallery */
.gallery-container {
    position: relative;
}

.gallery__header {
    font-size: 80px;
}

.gallery img {
    border-radius: 10px;
    height: 100%;
}

.gallery__grid--1 {
    grid-area: item-1;
}

.gallery__grid--2 {
    grid-area: item-2;
}

.gallery__grid--3 {
    grid-area: item-3;
}

.gallery__grid--4 {
    grid-area: item-4;
}

.gallery__grid--5 {
    grid-area: item-5;
}

.gallery-grid-container {
    display: grid;
    grid-template-areas:
        'item-1 item-1 item-1 item-2 item-2'
        'item-1 item-1 item-1 item-2 item-2'
        'item-3 item-3 item-3 item-2 item-2'
        'item-3 item-3 item-3 item-4 item-4'
        'item-5 item-5 item-5 item-5 item-5';
    gap: 15px;
}

/* Review */
.review__header--size {
    font-size: 26px;
}

.rating__text--size {
    font-size: 30px;
}

.review {
    position: relative;
}

.review__header {
    text-align: center;
}

.review__body {
    padding: 20px 0;
}

.review-modified-card {
    max-width: 25rem;
    width: 100%;
    padding: 15px;
}

.card-custom {
    background-color: #EDFDFE;
    border-radius: 10px;
    padding: 20px;
    max-width: 550px;
    -webkit-box-shadow: 1px 0px 6.5px 0px rgba(25, 117, 137, 0.49);
    -moz-box-shadow: 1px 0px 6.5px 0px rgba(25, 117, 137, 0.49);
    box-shadow: 1px 0px 6.5px 0px rgba(25, 117, 137, 0.49);
}

.review__body .swiper-android .swiper-slide, .review__body .swiper-ios .swiper-slide, .review__body .swiper-wrapper {
    padding: 6px;
}

.avatar-placeholder {
    width: 50px;
    aspect-ratio: 1;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle; /* Aligns the avatar vertically */
}

.star-rating .fa-star {
    color: gold;
}

.star-rating .fa-star-o {
    color: grey;
}

/* Decorations */
.review-leaves {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/images/home/home-leaves.png);
    background-size: 100% 100%;
    width: 80%;
    transform: scaleX(-1);
    aspect-ratio: 1101 / 549;
}

.golden-glasses {
    position: absolute;
    top: 90px;
    right: -10px;
    background-image: url(/images/rooms/golden-glasses.png);
    background-size: 100% 100%;
    width: 150px;
    aspect-ratio: 203 / 131;
    z-index: 5;
}
