<link href="~/css/partials/anyHelpForm.css" rel="stylesheet" />

<div class="sticky-help-form">
<div class="help-form-container">
    <h5 class="text-center">ANY HELP? RANDOM TEXT</h5>
    <form method="post" action="/Home/SubmitHelpForm">
        <div class="mb-3">
            <input type="text" class="form-control" id="name" name="Name" placeholder="Name*" required>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="email" name="Email" placeholder="Email*" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="phone" name="Phone" placeholder="Phone/WhatsApp*" required>
        </div>
        <div class="mb-3">
            <textarea class="form-control" id="note" name="Note" rows="4" placeholder="Note"></textarea>
        </div>
        <div class="d-grid mb-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="life-buoy"></div>
        <div class="flower--pink"></div>
        <div class="flower--yellow"></div>
        <div class="mb-3">
            <a href="#"><div>Email</div></a>
            <a href="#"><div>Phone number</div></a>
            <a href="#"><div>Phone number</div></a>
        </div>
        <div class="mb-3">
            <ul class="header-top-left-list d-flex justify-content-center my-2">
                <li class="header-top-left-list-item me-3">
                    <a href="">
                        <img style="width: 18px; height: 18px" class="header-top-left-list-item header-bird"
                             src="/images/icon/facebook-white.png" alt="ERROR">
                    </a>
                </li>

                <li class="header-top-left-list-item me-3">
                    <a href="">
                        <img style="width: 18px; height: 18px" src="/images/icon/instagram-white.png" alt="ERROR">
                    </a>
                </li>

                <li class="header-top-left-list-item me-3">
                    <a href="">
                        <img style="width: 18px; height: 18px" src="/images/icon/whatsapp-white.png" alt="ERROR">
                    </a>
                </li>

                <li class="header-top-left-list-item me-3">
                    <a href="">
                        <img style="width: 18px; height: 18px" src="/images/icon/owl-white.png" alt="ERROR">
                    </a>
                </li>

                <li class="header-top-left-list-item me-3">
                    <a href="">
                        <img style="width: 18px; height: 18px" src="/images/icon/google-white.png" alt="ERROR">
                    </a>
                </li>
            </ul>
        </div>
    </form>
</div>
</div>