<link href="~/css/footer.css" rel="stylesheet" />

<footer class="footer ">


    <section class="footer__top footer__top-bg--main-color footer__top--border">
        <div class="container">
            <div class="get-in-touch__container">
                <div class="get-in-touch__title">Get in touch</div>
                <div class="form-floating get-in-touch__input-container">
                    <input type="email" class="form-control get-in-touch__input" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Your email</label>
                </div>
                <button class="btn get-in-touch__button">Subscribe</button>
            </div>
            <div class="footer__top--padding">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-12 col__padding">
                        <div class="footer__logo--left-padding">
                            <img src="~/images/logo/the-one-hostel-catba-logo-white.png" alt="The-one-hostel-catba-logo" class="footer__logo--left ratio ratio-4x3" />
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-12 col__padding order-2 order-lg-1">
                        <div class="row g-0">
                            <div class="col">
                                <p><a asp-area="" asp-controller="Home" asp-action="Index">HOME</a></p>
                                <p><a href="">TOURS</a></p>
                                <p><a href="">ROOM</a></p>
                                <p><a asp-area="" asp-controller="Blog" asp-action="Index">BLOGS</a></p>
                                <p><a asp-area="" asp-controller="Home" asp-action="Privacy">PRIVACY & POLICY</a></p>
                                <p><a href="">ABOUT US</a></p>
                            </div>
                            <div class="col">
                                <div class="follow-us__align--center">
                                    <div>FOLLOW US</div>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-2"><img src="~/images/icon/facebook-white.png" alt="facebook-icon" class="follow-us__icon" /></div>
                                        <div class="p-2"><img src="~/images/icon/instagram-white.png" alt="instagram-icon" class="follow-us__icon" /></div>
                                        <div class="p-2"><img src="~/images/icon/tiktok-white.png" alt="tiktok-icon" class="follow-us__icon" /></div>
                                    </div>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-2"><img src="~/images/icon/owl-white.png" alt="owl-icon" class="follow-us__icon" /></div>
                                        <div class="p-2"><img src="~/images/icon/google-white.png" alt="google-icon" class="follow-us__icon" /></div>
                                        <div class="p-2"><img src="~/images/icon/whatsapp-white.png" alt="whatsapp-icon" class="follow-us__icon" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12 col__padding order-1 order-lg-2">
                        <div><span><img src="~/images/icon/email-white.png" class="footer__contact-icon ratio ratio-1x1" />  Email</span></div>
                        <div><span><img src="~/images/icon/phone-white.png" class="footer__contact-icon ratio ratio-1x1" />  Phone number</span></div>
                        <div><span><img src="~/images/icon/address-white.png" class="footer__contact-icon ratio ratio-1x1" />  Address</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer__bottom">
        <div class="footer__bg footer__bg--main-color">
            <div class="footer__text-container--bottom">
                <div class="row g-0">
                    <div class="col footer__bottom--left">
                        2024 The One Hostel Catba, All rights reserved.
                    </div>
                    <div class="col div__align--right">
                        <div class="container"><span>Powered by:  <img src="~/images/logo/logistech-logo-white.png" alt="Logistech-logo" class="footer__logo--small" /></span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</footer>
