.book-now-side-form {
    top: 140px;
    left: 0;
    position: sticky;
}

.side-form__container {
    padding: 10px 20px 40px 20px;
    background-color: #EDFDFE;
    box-shadow: 1px 1px 4px 0 rgba(140, 140, 140, 0.3);
    border-radius: 15px;
    text-align: left;

}

    .side-form__container .form-control, .side-form__container select {
        border: none;
        color: rgb(14, 145, 172, 0.7)
    }

    .side-form__container .form-control::placeholder {
        color: rgb(14, 145, 172, 0.7)
    }

.book-now-button {
    background-color: #FFA800;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
    font-size: 1.5rem;
}

.form-check-text {
    font-size: 0.9rem;
    color: rgb(14, 145, 172, 0.7);
}

.side-form__title {
    font-family: var(--font-kalam);
    color: var(--main-text-dark);
    padding: 10px 0;
    font-size: 2.5rem;
}

.total {
    color: var(--main-text-dark);
    font-size: 1.5rem;
}