/* Book now form */
.header__book-now-form {
    top: -50px;
    position: relative;
    z-index: 5;
    background-color: rgba(209, 250, 252, 0.7);
    border-radius: 20px;
    height: auto;
    width: 60%;
    left: 50%;
    transform: translate(-50%);
    padding: 15px 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-separator {
    border-right: 1px solid black;
}

.booking-form {
    border-radius: 10px;
    padding: 0 10px;
}

    .booking-form .form-group {
        margin-bottom: 0;
    }

    .booking-form .form-btn-book-now {
        background-color: #FF9900;
        border: none;
        color: white;
        border-radius: 8px;
        font-size: clamp(12px, 2vw, 16px);
    }

    .booking-form input, .booking-form select {
        background-color: unset;
        border: none;
    }

    .booking-form select {
        min-width: unset;
    }

    .booking-form col-6 {
        text-align: left;
    }

    .booking-form .form-select {
        padding: unset;
    }

.booking-form__label {
    text-align: left;
    width: 100%;
}

.custom-select {
    appearance: menulist;
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
    border: 1px solid #ced4da;
    padding: 0.375rem 2rem 0.375rem 0.75rem;
}

.booking-form .mobile-only {
    display: none;
}

/* Buttons */
.book-now-button {
    background-color: rgb(217,217,217,0.5);
    border-radius: 20px;
    color: white;
    padding: 5px 20px;
    font-size: 16px;
    box-shadow: 1px 1px #544738;
}

@media(max-width: 768px) {
    .right-separator {
        border-right: none;
        border-bottom: 1px solid black;
    }

    .booking-form .mobile-only {
        display: flex;
    }

    .mobile-only img {
        width: 20px;
        aspect-ratio: 1;
        margin-right: 5px;
    }

    .booking-form__label {
        display: none;
    }

    .booking-form .form-btn-book-now {
        width: 100%;
        padding: 10px;
    }
}

@media(max-width: 576px) {
    .header__book-now-form {
        width: 75%;
    }
}
