@{
    Page page = ViewData["page"] as Page;
}

<link href="~/css/home/aboutUs.css" rel="stylesheet" />

<div class="body-align">
    <section class="banner">
        @await Html.PartialAsync("~/Views/Partial/_Banner.cshtml", page.Banner)
    </section>

    <div class="padding-sides bg-about-us">
        <section class="about-us-1">
            <div class="about-us__content">
                <div class="star-fish"></div>
                <div class="header-text">About Us</div>
                <div class="section-1-grid-container">
                    <div class="grid-text-1">
                        Lorem ipsum dolor sit amet consectetur. Pharetra pharetra curabitur in proin. Sed sed dapibus velit aliquet risus eget lorem massa eget. Eget vitae cursus elit scelerisque lectus nulla adipiscing eros dictum. Eros ipsum eget neque interdum. Enim non elementum ac a tempor nunc. Eleifend turpis neque ut platea sociis elementum a. Malesuada nibh urna egestas dignissim sem venenatis et consequat hendrerit. Viverra orci nulla pharetra id gravida. Aliquam molestie nec dis augue eu molestie. Enim turpis amet volutpat ut gravida faucibus dolor adipiscing. Nibh diam tristique aliquam id vivamus. Arcu urna ultricies sed odio venenatis dolor vulputate. Egestas maecenas vel neque a. Nisl eget sollicitudin eget vitae eu tempor maecenas. Enim adipiscing tellus aliquam sed. Nec lectus lectus aliquet semper at in risus. Urna orci quam aliquam a integer tempus vestibulum. Ultrices vestibulum erat ullamcorper suscipit laoreet. Auctor sapien duis mauris bibendum justo dictum consectetur.
                    </div>

                    <div class="grid-img-1">
                        <img src="/images/aboutUs/grid-1.jpg" />
                    </div>

                    <div class="grid-img-2">
                        <img src="/images/aboutUs/grid-2.jpg" />
                    </div>

                    <div class="grid-img-3">
                        <img src="/images/aboutUs/grid-3.jpg" />
                    </div>

                    <div class="grid-text-2">
                        Lorem ipsum dolor sit amet consectetur. Pharetra pharetra curabitur in proin. Sed sed dapibus velit aliquet risus eget lorem massa eget. Eget vitae cursus elit scelerisque lectus nulla adipiscing eros dictum. Eros ipsum eget neque interdum. Enim non elementum ac a tempor nunc. Eleifend turpis neque ut platea sociis elementum a. Malesuada nibh urna egestas dignissim sem venenatis et consequat hendrerit. Viverra orci nulla pharetra id gravida. Aliquam molestie nec dis augue eu molestie. Enim turpis amet volutpat ut gravida faucibus dolor adipiscing. Nibh diam tristique aliquam id vivamus. Arcu urna ultricies sed odio venenatis dolor vulputate.
                    </div>

                </div>
            </div>
        </section>

        <section class="about-us-2">
            <div class="about-us__content">
                <div class="section-2-grid-container">
                    <div class="sec-2-grid-text">
                        Lorem ipsum dLorem ipsum dolor sit amet consectetur. Pharetra pharetra curabitur in proin. Sed sed dapibus velit aliquet risus eget lorem massa eget. Eget vitae cursus elit scelerisque lectus nulla adipiscing eros dictum. Eros ipsum eget neque interdum. Enim non elementum ac a tempor nunc. Eleifend turpis neque ut platea sociis elementum a. Malesuada nibh urna egestas dignissim sem venenatis et consequat hendrerit. Viverra orci nulla pharetra id gravida. Aliquam molestie nec dis augue eu molestie. Enim turpis amet volutpat ut gravida faucibus dolor adipiscing. Nibh diam tristique aliquam id vivamus. Arcu urna ultricies sed odio venenatis dolor vulputate.. Ultrices vestibulum erat ullamcorper suscipit laoreet. Auctor sapien duis mauris bibendum justo dictum consectetur. . Ultrices vestibulum erat ullamcorper suscipit laoreet. Auctor sapien duis mauris bibendum justo dictum consectetur.olor sit amet consectetur. Pharetra pharetra curabitur in proin. Sed sed dapibus velit aliquet risus eget lorem massa eget. Eget vitae cursus elit scelerisque lectus nulla adipiscing eros dictum. Eros ipsum eget neque interdum. Enim non elementum ac a tempor nunc. Eleifend turpis neque ut platea sociis elementum a. Malesuada nibh urna egestas dignissim sem venenatis et consequat hendrerit. Viverra orci nulla pharetra id gravida. Aliquam molestie nec dis augue eu molestie. Enim turpis amet volutpat ut gravida faucibus dolor adipiscing. Nibh diam tristique aliquam id vivamus. Arcu urna ultricies sed odio venenatis dolor vulputate.. Ultrices vestibulum erat ullamcorper suscipit laoreet. Auctor sapien duis mauris bibendum justo dictum consectetur. . Ultrices vestibulum erat ullamcorper suscipit laoreet. Auctor sapien duis mauris bibendum justo dictum consectetur.
                    </div>
                    <div class="sec-2-grid-gallery">
                        <div class="gallery-container">
                            <div class="gallery-grid-1">
                                <img src="/images/aboutUs/gallery-grid-1.jpg" />
                            </div>
                            <div class="gallery-grid-2">
                                <img src="/images/aboutUs/gallery-grid-2.jpg" />
                            </div>
                            <div class="gallery-grid-3">
                                <img src="/images/aboutUs/gallery-grid-3.jpg" />
                            </div>
                            <div class="gallery-grid-4">
                                <img src="/images/aboutUs/gallery-grid-4.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
